.table-wrap {
  height: 500px;
  overflow-y: auto;
}

thead th { 
    position: sticky; top: 0; 
    background-color: #293462;
    color: #faf9f9;
}

.modal-title {
    margin-left: 5%;
    margin-top: 5%;
}

.modal-body {
    margin-left: 5%;
}

tbody {
    height: 100px;
}